.buttom-input {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.chat ul {
  box-sizing: border-box;
  padding: 5rem 2rem;
}
.chat ul li {
  list-style: none;
}

.text {
  width: 100%;
  height: 4.5rem;
  margin-bottom: 1.5rem;
}
.textbox {
  font-family: '微软雅黑';
  font-size: 1.5rem;
  height: 100%;
}
.textbox .text-content {
  display: inline-block;
  height: 100%;
  background: #fff;  
  padding: 1rem .8rem;
  line-height: 2.5rem;
  box-sizing: border-box;
  border-radius: 1rem;
}
.other .textbox{
  float: right;
  height: 100%;
  /* line-height: 4.5rem; */
}
.my .textbox img {
  margin-right: .8rem;
}
.other .textbox img {
  float: right;
  margin-left: .8rem;
  /* vertical-align: middle; */
}

.my .textbox .text-content {
  background: #68c864;
  color: #fff;
}

.chat .am-grid-icon {
  display: none;
}


.chat .am-grid .am-flexbox .am-flexbox-item .am-grid-item-content .am-grid-item-inner-content .am-grid-text {
  margin-top: 9px;
  font-size: 1.8rem;
  color: #000;
  text-align: center;
}

.am-input-extra {
  padding: .5rem .5rem;
}